table {
    border-collapse: collapse; /* Mengatur Batas antar sel digabung*/
    width: 60%; /*Mengatur Lebar tabel 70%*/
    margin-top: 30px; /*Mengatur Margin atas 30px*/
    margin-bottom: 30px; /*Mengatur Margin bawah 30 px*/
    border: 1px solid black; /*Mengatur warna border menjadi hitam*/
    
}

th, td {
    text-align: left; /*Mengatur posisi teks dalam cell*/
    padding: 10px; /*Mengatur ukuran  dalam sel*/
}

th {
    background-color: hsl(318, 70%, 58%); /*Mengatur warna background*/
}